{% extends 'base.html.twig' %}
{% block title %}Post{% endblock %}
{% block main %}

    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>date</th>
            <th>image</th>
        </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>

                <td>{{ post.title }}</td>
                <td>{{ post.datePublication|date("d/m/Y") }}</td>
                {% if (post.image is not null) %}
                    <td><img src="/media/post/{{post.image}}"></td>
                {% endif %}
                <td><a  href="{{ path('post_show', {'slug':
                        post.slug}) }}"> show</a></td>
                <td><a  href="{{ path('post_delete', {'slug':
                        post.slug}) }}"> delete</a></td>


            </tr>
        {% endfor %}
        </tbody>
    </table>

   


{% endblock %}
